@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply transition-colors duration-500 ease-in-out;
  }
}

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-main-light: #ffffff;
  --color-main-dark: #121212;
  --color-main-text-light: #111827;
  --color-main-text-dark: #ffffff;
  --color-secondary-light: #f9fafb;
  --color-secondary-dark: #1e1e1e;
  --color-secondary-text-light: #6b7280;
  --color-secondary-text-dark: #b3b3b3;
  --color-primary-light: #4f46e5;
  --color-primary-dark: #6996f1;
  --color-hover-light: #4338ca;
  --color-hover-dark: #6366f1;
  --color-success-light: #16a34a;
  --color-success-dark: #22c55e;
  --color-neutral-light: #ca8a04;
  --color-neutral-dark: #facc15;
  --color-alert-light: #dc2626;
  --color-alert-dark: #ef4444;
  --breakpoint-header: 1000px;
}

.active {
  @apply underline;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
